<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles/index.css') }}"
		/>
		<title>Job Scrapper</title>
	</head>
	<body>
		<h1>Job Scrapper</h1>
		<h2>What job do you want?</h2>
		<form action="/search" class="form">
			<input
				type="text"
				name="keyword"
				placeholder="Write a keyword please."
				required
			/>
			<button>Search</button>
		</form>
	</body>
</html>
